.menuBar
    .hashTag
        a(href=twitter_url)
            img(src="/images/twitter.png")
        a(href="https://twitter.com/#!/search/realtime/%23mobilesummit") #mobilesummit
    a.menuLink(href=register_url) REGISTER
    a.menuLink(href="/sponsors") SPONSORS
    a.menuLink(href="/venue") VENUE
    // a.menuLink(href="/schedule") SCHEDULE
    a.menuLink(href="/speakers") SPEAKERS
    a.menuLink(href="/about") ABOUT
