head
    title Mobile Testing Summit 2012
    meta(name="description", content="Sponsored by Sauce Labs and Facebook, the Mobile Testing Summit is the conference for determining the state of the art in automated testing for mobile apps.")
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="/css/reset.css")
    link(rel="icon", type="image/png", href="/favicon.ico")
    != css('style')
    script(type="text/javascript", src="/js/libs/modernizr-2.5.3.min.js")
