header
    img#headerBg(src="/images/header.png", alt="Sauce Labs Mobile Testing Summit. November 1, 2012. San Francisco")
    a#homePage(href="/") &nbsp;
    a#registerNow(href=register_url)
        #regNowTop register
        #regNowBottom now
    include _menubar
